@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
}

* {
  font-family: "Roboto Condensed", sans-serif;
}
